Repository bcgov/STRR, pull requests merged in 2024-07, with the labels that each got.

#78 Backend: Auto Approval - Use Application
  strr-api/pyproject.toml
  strr-api/src/strr_api/models/application.py
  strr-api/src/strr_api/resources/registrations.py
  strr-api/src/strr_api/responses/AutoApprovalRecordResponse.py
  strr-api/src/strr_api/services/approval_service.py
  strr-api/tests/unit/common/test_run_version.py
  strr-api/tests/unit/resources/test_registrations.py
  strr-api/tests/unit/services/test_approval.py
  strr-api/tests/unit/utils/mocks.py
Labels: API

#75 Backend: Add startDate & expiryDate to Registration
  strr-api/migrations/versions/20240729_1240_0be766af65ea_.py
  strr-api/migrations/versions/20240730_1153_f8e41c37e62c_.py
  strr-api/src/strr_api/models/rental.py
  strr-api/src/strr_api/responses/RegistrationResponse.py
  strr-api/src/strr_api/services/approval_service.py
  strr-api/tests/postman/strr-api.postman_collection.json
  strr-api/tests/unit/utils/mocks.py
Labels: API

#74 Remove Renewal button in Status Cards
  strr-web/components/bcros/status-card/StatusCard.vue
  strr-web/package.json
Labels: UI, Host Dashboard

#77 Add 'max-width' for All Pages
  strr-web/components/bcros/banner/banner.vue
  strr-web/components/bcros/chip/Chip.vue
  strr-web/components/bcros/status-card/StatusCard.vue
  strr-web/components/bcros/stepper/StepperFooter.vue
  strr-web/layouts/wideGutters.vue
  strr-web/layouts/wideNoSpace.vue
  strr-web/package.json
  strr-web/pages/account-select.vue
  strr-web/pages/application-details/[applicationId]/index.vue
  strr-web/pages/application-status.vue
  strr-web/pages/create-account-pre/[id].vue
  strr-web/pages/create-account.vue
  strr-web/pages/listing-details/[listingId].vue
  strr-web/pages/success/[id].vue
  strr-web/pages/success/[registrationId]/invoice/[paymentId].vue
Labels: UI
