Repository bcgov/STRR, pull requests merged in 2025-01, with the labels that each got.

#436 Fix Examiner Dash and Details page
  strr-web/components/bcros/form-section/contact-information/SummaryView.vue
  strr-web/interfaces/account-i.ts
  strr-web/interfaces/application-i.ts
  strr-web/lang/en.json
  strr-web/package.json
  strr-web/pages/application-details/[id]/index.vue
  strr-web/pages/staff-str-dashboard.vue
  strr-web/tests/mocks/mockApplication.ts
  strr-web/tests/unit/pages/application-details.spec.ts
Labels: Examiner, Bugfix

#444 Add Platform and Strata Details pages
  strr-base-web/app/locales/en-CA.ts
  strr-examiner-web/app/components/HostDetailsView.vue
  strr-examiner-web/app/components/PlatformDetailsView.vue
  strr-examiner-web/app/components/StrataHotelDetailsView.vue
  strr-examiner-web/app/enums/platform-e.ts
  strr-examiner-web/app/interfaces/host-i.ts
  strr-examiner-web/app/interfaces/platform-i.ts
  strr-examiner-web/app/interfaces/strata-i.ts
  strr-examiner-web/app/layouts/examiner.vue
  strr-examiner-web/app/pages/dashboard.vue
  strr-examiner-web/app/pages/examine/[applicationId].vue
Labels: UI, Examiner

#451 Update Host Details Page
  strr-base-web/app/utils/date.ts
  strr-examiner-web/app/components/ApplicationDetails.vue
  strr-examiner-web/app/components/ApplicationDetailsSection.vue
  strr-examiner-web/app/components/ApplicationInfoHeader.vue
  strr-examiner-web/app/components/HostDetailsView.vue
  strr-examiner-web/app/components/PlatformDetailsView.vue
  strr-examiner-web/app/components/StrataHotelDetailsView.vue
  strr-examiner-web/app/locales/en-CA.ts
  strr-examiner-web/app/pages/examine/[applicationId].vue
  strr-examiner-web/app/store/examiner.ts
  strr-examiner-web/package.json
Labels: UI, Examiner

#453 Show Host PR Documents on Details Page
  strr-examiner-web/app/components/ApplicationInfoHeader.vue
  strr-examiner-web/app/components/HostDetailsView.vue
  strr-examiner-web/app/interfaces/host-i.ts
  strr-examiner-web/app/locales/en-CA.ts
  strr-examiner-web/package.json
Labels: UI, Examiner

#461 Legacy Examiner - Add PR Exempt Reason
  strr-web/enums/pr-exemption-reason-e.ts
  strr-web/interfaces/application-i.ts
  strr-web/lang/en.json
  strr-web/package.json
  strr-web/pages/application-details/[id]/index.vue
Labels: UI, Examiner, Bugfix

#456 Update Examiner Table. Add PR Requirements.
  strr-examiner-web/app/components/ApplicationInfoHeader.vue
  strr-examiner-web/app/components/HostDetailsView.vue
  strr-examiner-web/app/components/NavigationTabs.vue
  strr-examiner-web/app/layouts/examiner.vue
  strr-examiner-web/app/locales/en-CA.ts
  strr-examiner-web/app/pages/dashboard.vue
  strr-examiner-web/app/pages/examine/[applicationId].vue
  strr-examiner-web/package.json
Labels: UI, Examiner

#473 Fix Registration Details page. Show PR if available
  strr-web/package.json
  strr-web/pages/registration-details/[id]/index.vue
Labels: UI, Examiner, Bugfix

#479 Strata Details page - Part 1/2
  strr-examiner-web/app/components/ApplicationInfoHeader.vue
  strr-examiner-web/app/components/Strata/SubHeader.vue
  strr-examiner-web/app/components/Strata/SupportingInfo.vue
  strr-examiner-web/app/components/StrataHotelDetailsView.vue
  strr-examiner-web/app/components/SupportingDocuments.vue
  strr-examiner-web/app/locales/en-CA.ts
  strr-examiner-web/app/pages/examine/[applicationId].vue
  strr-examiner-web/app/stores/examiner.ts
  strr-examiner-web/app/utils/format-helper.ts
  strr-examiner-web/package.json
Labels: UI, Examiner

#486 Strata Details page - Part 2/2
  strr-examiner-web/app/components/Common/ExpansionTemplate.vue
  strr-examiner-web/app/components/Host/SupportingInfo.vue
  strr-examiner-web/app/components/Strata/Expansion/Buildings.vue
  strr-examiner-web/app/components/Strata/Expansion/Business.vue
  strr-examiner-web/app/components/Strata/Expansion/Individuals.vue
  strr-examiner-web/app/components/Strata/SubHeader.vue
  strr-examiner-web/app/components/Strata/SupportingInfo.vue
  strr-examiner-web/app/components/SupportingDocuments.vue
  strr-examiner-web/app/composables/useStrataExpansion.ts
  strr-examiner-web/app/layouts/examine.vue
  strr-examiner-web/app/layouts/examiner.vue
  strr-examiner-web/app/locales/en-CA.ts
  strr-examiner-web/app/pages/dashboard.vue
  strr-examiner-web/package.json
Labels: UI, Examiner

#449 bulk permit validator initial commit
  queue_services/batch-permit-validator/.devcontainer/Dockerfile
  queue_services/batch-permit-validator/.devcontainer/devcontainer.json
  queue_services/batch-permit-validator/.dockerignore
  queue_services/batch-permit-validator/.env.sample
  queue_services/batch-permit-validator/Dockerfile
  queue_services/batch-permit-validator/LICENSE
  queue_services/batch-permit-validator/README.md
  queue_services/batch-permit-validator/gunicorn_config.py
  queue_services/batch-permit-validator/logging.conf
  queue_services/batch-permit-validator/poetry.lock
  queue_services/batch-permit-validator/pyproject.toml
  queue_services/batch-permit-validator/src/batch_permit_validator/__init__.py
  queue_services/batch-permit-validator/src/batch_permit_validator/config.py
  queue_services/batch-permit-validator/src/batch_permit_validator/resources/__init__.py
  queue_services/batch-permit-validator/src/batch_permit_validator/resources/batch_permit_validator.py
  queue_services/batch-permit-validator/src/batch_permit_validator/services/__init__.py
  queue_services/batch-permit-validator/src/batch_permit_validator/utils.py
  queue_services/batch-permit-validator/tests/__init__.py
  queue_services/batch-permit-validator/wsgi.py
Labels: API

#489 Update Examiner vaults
  strr-examiner-web/devops/vaults.env
  strr-examiner-web/package.json
Labels: Examiner

#490 Remove require-account Middleware
  strr-examiner-web/app/pages/dashboard.vue
  strr-examiner-web/app/pages/examine/[applicationId].vue
  strr-examiner-web/package.json
Labels: Examiner

#499 Add Unit Tests for Examiner
  strr-examiner-web/app/components/ApplicationInfoHeader.vue
  strr-examiner-web/app/components/Host/SupportingInfo.vue
  strr-examiner-web/app/pages/dashboard.vue
  strr-examiner-web/app/stores/examiner.ts
  strr-examiner-web/package.json
  strr-examiner-web/tests/mocks/mockedData.ts
  strr-examiner-web/tests/plugins/data-test-id.ts
  strr-examiner-web/tests/setup.ts
  strr-examiner-web/tests/unit/application-details.spec.ts
  strr-examiner-web/tests/unit/dashboard.spec.ts
  strr-examiner-web/vitest.config.ts
  strr-web/components/bcros/form-section/property-manager/Form.vue
Labels: UI, Examiner
