Repository bcgov/STRR, pull requests merged in 2025-05, with the labels that each got.

#705 Examiner UI Updates
  strr-base-web/app/enums/application-status.ts
  strr-base-web/package.json
  strr-examiner-web/app/components/ApplicationInfoHeader.vue
  strr-examiner-web/app/locales/en-CA.ts
  strr-examiner-web/app/pages/dashboard.vue
  strr-examiner-web/app/stores/examiner.ts
  strr-examiner-web/package.json
Labels: UI, Examiner

#703 Load Registration Renewals and Disable Field Edits
  strr-host-pm-web/.eslintrc
  strr-host-pm-web/app/components/form/AddOwners/Index.vue
  strr-host-pm-web/app/components/form/AddOwners/input/Business.vue
  strr-host-pm-web/app/components/form/AddOwners/input/Person.vue
  strr-host-pm-web/app/components/form/AddOwners/input/common/Role.vue
  strr-host-pm-web/app/components/form/DefineYourRental/UnitAddress.vue
  strr-host-pm-web/app/components/form/DefineYourRental/UnitRequirements/List.vue
  strr-host-pm-web/app/components/summary/Owners.vue
  strr-host-pm-web/app/locales/en-CA.ts
  strr-host-pm-web/app/pages/application.vue
  strr-host-pm-web/package.json
  strr-host-pm-web/pnpm-lock.yaml
Labels: UI, Renewals

#717 Examiner - Approve a Provisional Application
  strr-base-web/app/composables/useStrrModals.ts
  strr-base-web/package.json
  strr-examiner-web/app/components/ApplicationInfoHeader.vue
  strr-examiner-web/app/components/Host/Expansion/EditRentalUnitForm.vue
  strr-examiner-web/app/components/Host/SubHeader.vue
  strr-examiner-web/app/components/RegistrationInfoHeader.vue
  strr-examiner-web/app/composables/useExaminerActions.ts
  strr-examiner-web/app/composables/useExaminerRoute.ts
  strr-examiner-web/app/composables/useHostExpansion.ts
  strr-examiner-web/app/enums/actions.ts
  strr-examiner-web/app/locales/en-CA.ts
  strr-examiner-web/app/pages/examine/[applicationId].vue
  strr-examiner-web/app/pages/registration/[registrationId].vue
  strr-examiner-web/package.json
  strr-examiner-web/pnpm-lock.yaml
  strr-examiner-web/tests/unit/host-application-details.spec.ts
Labels: UI, Examiner

#725 Send NOC for Provisional Review Application
  strr-examiner-web/app/components/ComposeNoc.vue
  strr-examiner-web/app/locales/en-CA.ts
  strr-examiner-web/app/pages/examine/[applicationId].vue
  strr-examiner-web/app/stores/examiner.ts
  strr-examiner-web/package.json
Labels: UI, Examiner

#727 Add Farmland PR Requirement
  strr-host-pm-web/app/locales/en-CA.ts
  strr-host-pm-web/app/stores/document.ts
  strr-host-pm-web/package.json
Labels: UI, Host

#737 Host Application view with Provisional NOC
  strr-base-web/app/composables/useStrrBasePermit.ts
  strr-base-web/app/locales/en-CA.ts
  strr-base-web/app/utils/accountDashHelpers.ts
  strr-base-web/app/utils/todoItems.ts
  strr-base-web/package.json
  strr-examiner-web/app/locales/en-CA.ts
  strr-host-pm-web/app/components/summary/SupportingInfo.vue
  strr-host-pm-web/app/pages/dashboard/[applicationId].vue
  strr-host-pm-web/app/pages/dashboard/index.vue
  strr-host-pm-web/package.json
Labels: UI, Host

#740 Set Aside Declined Application
  strr-base-web/app/interfaces/strr-api.ts
  strr-examiner-web/app/components/ApplicationInfoHeader.vue
  strr-examiner-web/app/composables/useExaminerRoute.ts
  strr-examiner-web/app/enums/actions.ts
  strr-examiner-web/app/locales/en-CA.ts
  strr-examiner-web/app/pages/examine/[applicationId].vue
  strr-examiner-web/app/stores/examiner.ts
  strr-examiner-web/package.json
  strr-examiner-web/tests/mocks/mockedData.ts
  strr-examiner-web/tests/unit/components.spec.ts
  strr-examiner-web/tests/unit/host-application-details.spec.ts
Labels: UI, Examiner

#747 Update Set Aside Application Payload
  strr-examiner-web/app/stores/examiner.ts
Labels: UI, Examiner

#738 Add Cancelled Registration Date in Details View
  strr-base-web/app/interfaces/strr-api.ts
  strr-base-web/package.json
  strr-examiner-web/app/components/RegistrationInfoHeader.vue
  strr-examiner-web/app/locales/en-CA.ts
  strr-examiner-web/app/pages/registration/[registrationId].vue
  strr-examiner-web/package.json
Labels: UI, Examiner
